<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>353805728213-pmhms1j94frdd6vdntlhr3hjpd06b8ud.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.353805728213-pmhms1j94frdd6vdntlhr3hjpd06b8ud</string>
	<key>API_KEY</key>
	<string>AIzaSyD-LFx1Zz6hEj51s3OlRk3s7hLGaWffu4o</string>
	<key>GCM_SENDER_ID</key>
	<string>353805728213</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.christian.TFL-Tube-Times</string>
	<key>PROJECT_ID</key>
	<string>tubetap-b5224</string>
	<key>STORAGE_BUCKET</key>
	<string>tubetap-b5224.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353805728213:ios:525f51d4716d6fd8b5a55c</string>
</dict>
</plist>